
#history { margin-left: 170px; }
#impact { margin-left: 170px; }
#right_eye { margin-left: 170px; }
#left_eye { margin-left: 170px; }

#Element_OphCoCataractReferral_CurrentRefraction_right_axis { width: 380px !important; }
#Element_OphCoCataractReferral_CurrentRefraction_left_axis { width: 380px !important; }
