
#history { margin-left: 170px; }
#impact { margin-left: 170px; }
#right_eye { margin-left: 170px; }
#left_eye { margin-left: 170px; }

div.Element_OphCoCataractReferral_CurrentRefraction_iop_right_instrument { float: left; margin-left: 170px; }
div.Element_OphCoCataractReferral_CurrentRefraction_iop_right_pressure { float: left; margin-left: 40px; margin-top: 8px; }
div.Element_OphCoCataractReferral_CurrentRefraction_iop_left_pressure { float: left; margin-left: -70px; margin-top: 8px; }
div.Element_OphCoCataractReferral_CurrentRefraction_iop_left_instrument { float: left; margin-left: 40px; }
div.view_Element_OphCoCataractReferral_CurrentRefraction_iop_right_instrument { float: left; margin-right: 47px; margin-top: 8px; }
div.view_Element_OphCoCataractReferral_CurrentRefraction_iop_right_pressure { float: left; margin-left: 40px; margin-top: 8px; }
div.view_Element_OphCoCataractReferral_CurrentRefraction_iop_left_pressure { float: left; margin-left: -70px; margin-top: 8px; }
div.view_Element_OphCoCataractReferral_CurrentRefraction_iop_left_instrument { float: left; margin-left: 40px; margin-top: 8px; }

#event_content .eyedrawFields { float: left; width: 300px; margin: 5px 0 0 10px; }
#event_content .eyedrawFields.view { width: 280px; }
#event_content .eyedrawFields>div { margin: 5px 0; }
#event_content .eyedrawFields .label,#event_content .eyedrawFields .data { display: inline-block; }
#event_content .Element_OphCoCataractReferral_CurrentRefraction .eyedrawFields { width: 320px; }
#event_content canvas { float: left; border: 1px solid #ccc; margin: 0; }
#event_content div.ed_toolbar { margin: 0 0 10px; }

#event_content .Element_OphCoCataractReferral_IntraocularPressure .cols2 > .left,
#event_content .Element_OphCoCataractReferral_IntraocularPressure .cols2 > .right { border-width: 4px 0 0 0; border-color: #000; border-style: solid; width: 493px; }
#event_content .Element_OphCoCataractReferral_IntraocularPressure .cols2 > .left { border-right-width: 2px; text-align: right; }
#event_content .Element_OphCoCataractReferral_IntraocularPressure .cols2 > .right { border-left-width: 2px; }
